:root {
        --ic-brand-primary-darkened-5: #0071AD;
--ic-brand-primary-darkened-10: #006BA4;
--ic-brand-primary-darkened-15: #00659B;
--ic-brand-primary-lightened-5: #0C7CB9;
--ic-brand-primary-lightened-10: #1983BD;
--ic-brand-primary-lightened-15: #268AC0;
--ic-brand-button--primary-bgd-darkened-5: #0071AD;
--ic-brand-button--primary-bgd-darkened-15: #00659B;
--ic-brand-button--secondary-bgd-darkened-5: #414141;
--ic-brand-button--secondary-bgd-darkened-15: #3A3A3A;
--ic-brand-font-color-dark-lightened-15: #6B6B6B;
--ic-brand-font-color-dark-lightened-28: #828282;
--ic-link-color-darkened-10: #006BA4;
--ic-link-color-lightened-10: #1983BD;
--ic-brand-primary: #0076B6;
--ic-brand-font-color-dark: #525252;
--ic-link-color: #0076B6;
--ic-brand-button--primary-bgd: #0076B6;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #444444;
--ic-brand-button--secondary-text: #FFFFFF;
--ic-brand-global-nav-bgd: #0076B6;
--ic-brand-global-nav-ic-icon-svg-fill: #FFFFFF;
--ic-brand-global-nav-ic-icon-svg-fill--active: #0076B6;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #0076B6;
--ic-brand-global-nav-avatar-border: #FFFFFF;
--ic-brand-global-nav-menu-item__badge-bgd: #F58300;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #000000;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/466/BYUIWhiteLogoinSquare.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/431/BYUPW-HorizontalGray-Padding.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/432/BYU-PW_Icon_Gold.ico');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/433/mobile%201.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/434/mobile%201.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/435/BYUPW-HorizontalGray-Padding.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/436/BYUPW-HorizontalGray-Padding.svg');
--ic-brand-Login-body-bgd-color: #FFC328;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #273540;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_270930000000000001/attachments/437/BYUPW-HorizontalGray.svg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #454540;
--ic-brand-Login-Content-password-text-color: #454540;
--ic-brand-Login-footer-link-color: #454540;
--ic-brand-Login-footer-link-color-hover: #454540;
--ic-brand-Login-instructure-logo: #454540;
      }